<div class="notify-container in" *ngIf="loading.hasError">
    <div class="notify-error notify-content">
        <div class="notify-error-message">
            <span class="notify-icon">!</span>
            <p class="notify-icon-text" *ngFor="let msg of loading.hasMsg.split(',')">
                {{msg}}<br/>
            </p>
        </div>
    </div>
</div>

<div class="notify-container in" *ngIf="!loading.hasError && loading.hasMsg!==''">
    <div class="notify-success notify-content">
        <div class="notify-success-message">
            <span class="notify-icon">!</span>
            <p class="notify-icon-text" *ngFor="let msg of loading.hasMsg.split(',')">
                {{msg}}<br/>
            </p>
        </div>
    </div>
</div>